#titles {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: 11em;
    grid-gap: 1em;
    border-left: 2em solid var(--light-grey);
    border-right: 2em solid var(--light-grey);
    width: 100%;
}

#label {
    position: absolute;
    left: 2em;
    top: 4em;
}

.block {
    width: 100%;
    height: auto;
    font-size: 12px;
    overflow: hidden;
}

.desc {
    box-sizing: border-box;
    width: 50%;
    float: right;
    border-left: 1em solid var(--light-grey);
}

.thumbnail {
    float: left;
    width: 50%;
    height: auto;
}
