#content {
    position: absolute;
    top: 5em;
    left: 0%;
    height: auto;
    width: 100%;
}

#info {
    box-sizing: border-box;
    width: 100%;
    height: 25em;
    border-top: 1em solid var(--light-grey);
    border-bottom: 1em solid var(--light-grey);
    border-left: 3em solid var(--light-grey);
    border-right: 3em solid var(--light-grey);
    background-color: var(--medium-grey);
}

#cover {
    height: 23em;
    width: 16em;
    float: left;
}

#infoTable {
    position: absolute;
    left: 20em;
}

#chaptersTable {
    width: 90%;
    border-collapse: collapse;
    text-align: left;
}

@media screen and (min-width: 1000px) {
    #info {
        width: 50%;
        float: left;
    }
    #chaptersTable {
        width: 48%;
        float: left;
    }
}

td {
    border-top: 1px solid black;
}

